::-webkit-scrollbar {
    display: none;
}

:root {
  --background: #111a27;
  --primary: rgba(34, 35, 48, 0.6);
  --secondary: rgba(31, 41, 55, 1);
  --border: rgb(37 47 61);
  --font: white;
  --secondaryfont: lightgrey;
  --postfont: white;
}

body, html {
  height: 100%;
}

body {
  font-family: helvetica;
  background-color: var(--background);
  color: var(--font);
  margin: 0;
  margin-top: 50px;
  background-attachment: fixed;
}

#navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary);
  box-shadow: 4px 4px 8px rgb(255 255 255 / 25%);
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 25px;
}

.label {
  background-color:#19d916;
  padding:5px 10px 5px 10px;
  border-radius:3px;
}

.homeNavButtons {
  display: inline-block;
}

.homeNavButtons > img {
  width: 35px;
  vertical-align: middle;
}

.homeNavButtons:hover {
  text-decoration: underline;
  cursor: pointer;
}

#navbar > span, #accountControls > span {
  margin-left: 20px;
}

#navbar > span:hover, #accountControls > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

#accountControls {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.dropdown {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.dropdown > span {
  display: block;
  margin-bottom: 10px;
}

.dropdown > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.banner {
  background-color: #fff;
  color: black;
  padding: 15px;
}

.banner > span {
  cursor: pointer;
  float: right;
}

#pageContent {
  text-align: center;
}

.header {
  font-size: 30px;
  text-shadow: 0 0 20px black;
}

textarea {
  outline: none;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 8px;
  color: #333333;
  padding: 10px 12px;
  resize: none;
  transition: 0.1s;
}

input, select {
  transition: 0.1s;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 100px;
  color: #333333;
  padding: 10px 12px;
  margin-top: 5px;
  outline: none;
  border: 2px solid grey;
}

button {
  background-color: #f5f5f5;
  border-radius: 20px;
  color: #333333;
  cursor: pointer;
  padding: 10px 12px;
  text-align: center;
  margin-top:5px;
  border: 2px solid grey;
  transition: 0.1s;
}

.highlightedButton {
  background-color: #2dc9ff;
  border: 2px solid #1786ab !important;
  color: white;
}

.disabledButton {
  cursor: not-allowed;
  color:grey
}

textarea:hover, input:hover, select:hover, button:hover, .post-button:hover, #version:hover {
  transition: 0.1s;
  opacity: 0.9;
}

.loader {
  display: inline-block;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #62d7ff;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.explore-tile {
  background-color:white;
  border:5px solid lightgrey;
  padding:10px;
  padding-left:20px;
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  margin: 20px;
  color: black;
  cursor: pointer;
}

.post-button {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  padding: 30px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 100px #363636;
}

#version {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  color: black;
  border-radius: 200px;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--background);
  margin: auto;
  padding: 50px 30px 0px 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  position: relative;
}

#modal-header {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #2dc9ff;
  color: white;
  font-size: 20px;
  border-radius: 20px 20px 0 0;
}

.socialButton {
  text-decoration: underline;
  color: grey;
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
}

.post {
  background-color: var(--secondary);
  overflow-x: hidden;
  color: white;
  border-radius: 10px;
  padding: 15px;
  width: calc(30vh + 20%);
  display: inline-block;
  text-align: left;
  border: 3px solid var(--border);
}

.attachement {
  border-radius: 25px;
  width: 525px;
  margin-bottom: 7px;
  box-shadow: 2px 2px 12px black;
}

a {
  color: white;
}

.moderated-post-text {
  color: #ff7070;
  font-style: italic;
}

#tiles {
  margin-left: 5vh;
}

.ticket {
  background-color: #e8e8e8;
  border: 4px solid lightgrey;
  color: black;
  width: 50%;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.ticket > a {
  color: black;
}

summary {
  cursor: pointer;
}

#newmsg {
  position: absolute;
  right: 20px;
  top: 60px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 2px;
}

li {
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

li:hover {
  font-size: 20px;
}

.contentbox {
  margin-left: 1%;
  margin-top: -75px;
  opacity: 0.99;
  background-color: var(--primary);
  padding: 15px;
  border-radius: 10px;
}

.profilebadge {
  width: 25px;
  margin-left: 5px;
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}

.messageitem {
  padding: 20px;
  background-color: #f7f7f7;
  color: black;
  border-radius: 20px;
  margin-top: 10px;
  width: 60vh;
  display: inline-block;
}