body {
  font-family: helvetica;
  background-color: #111a27;
  color: white;
  margin: 0;
  margin-top: 50px;
}

#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #222330;
    box-shadow: 0 0 3px rgb(255 255 255 / 25%);
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}

.homeNavButtons {
  display: inline-block;
}

.homeNavButtons > img {
  width: 30px;
  vertical-align: middle;
}

.homeNavButtons:hover {
  text-decoration: underline;
  cursor: pointer;
}

#navbar > span, #accountControls > span {
  margin-left: 20px;
}

#navbar > span:hover, #accountControls > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

#accountControls {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.banner {
  background-color: #fff;
  color: black;
  padding: 15px;
}

.banner > span {
  cursor: pointer;
  float: right;
}

#pageContent {
  text-align: center;
  padding: 30px;
  padding-top: 60px;
}

.header {
  font-size: 30px;
}

textarea {
  outline: none;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 8px;
  color: #333333;
  padding: 10px 12px;
  resize: none;
}

button {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 20px;
  color: #333333;
  cursor: pointer;
  padding: 10px 12px;
  text-align: center;
  margin-top:5px;
}

.highlightedButton {
    background-color: #2dc9ff;
    color: white;
}

.loader {
  display: inline-block;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #62d7ff;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.explore-tile {
  background-color:white;
  border:5px solid lightgrey;
  padding:10px;
  padding-left:20px;
  border-radius: 20px;
  display: inline-block;
  width: 200px;
  margin: 20px;
  color: black;
}

input {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 100px;
  color: #333333;
  padding: 10px 12px;
  margin-top: 5px;
  outline: none;
}

.post-button {
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  padding: 30px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #222330;
  margin: auto;
  padding: 50px 30px 0px 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  position: relative;
}

#modal-header {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #2dc9ff;
  color: white;
  font-size: 20px;
  border-radius: 20px 20px 0 0;
}

.hiddenModButton, .likeButton {
  text-decoration: underline;
  color: grey;
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
}

.hiddenModButton {
  display: none;
}

.post {
  background-color: rgba(31, 41, 55, 1);
  color: white;
  border-radius: 20px;
  padding: 15px;
  width: 60%;
  display: inline-block;
  text-align: left;
  border: 3px solid rgb(37 47 61);
}

a {
  color: white;
}

#version {
  position: fixed;
  bottom: 7px;
  left: 7px;
}
